{% extends "layouts/default.html.twig" %}

{% block content %}
<section class="section section--dark section--fluid section--no-spacing section--no-inner-spacing">
  <div class="section__inner">
    <div class="block">
      <div class="xslider xslider--stretch xslider--100vh js-xslider" data-autoplay="3000" data-loop="true">
        <div class="xslider__inner">
          <div class="xslider__viewport" data-viewport>
            <ul class="xslider__track" data-track>
              <li class="xslider__item">
                <div class="xslider__image">
                  <video src="video.mp4" poster="img/temp/tmp1.jpg"></video>
                </div>
                <div class="xslider__content">
                  <div class="xslider__data">
                    <div class="xslider__title">Lorem ipsum dolor sit amet.</div>
                    <div class="xslider__summary text">
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus rem dicta reiciendis.
                      </p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="xslider__item">
                <picture class="xslider__image">
                  <source type="image/webp" media="(orientation: portrait)" srcset="img/temp/tmp2v.webp">
                  <source type="image/jpeg" media="(orientation: portrait)" srcset="img/temp/tmp2v.jpg">
                  <source type="image/webp" srcset="img/temp/tmp2.webp">
                  <source type="image/jpeg" srcset="img/temp/tmp2.jpg">
                  <img src="img/temp/tmp2.jpg" alt="">
                </picture>
                <div class="xslider__content">
                  <div class="xslider__data">
                    <div class="xslider__title">Lorem ipsum dolor sit amet.</div>
                    <div class="xslider__summary text">
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus rem dicta reiciendis.
                      </p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="xslider__item">
                <div class="xslider__image">
                  <video src="video.mp4" poster="img/temp/tmp3.jpg"></video>
                </div>
                <div class="xslider__content">
                  <div class="xslider__data">
                    <div class="xslider__title">Lorem ipsum dolor sit amet.</div>
                    <div class="xslider__summary text">
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus rem dicta reiciendis.
                      </p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="xslider__item">
                <picture class="xslider__image">
                  <source type="image/webp" media="(orientation: portrait)" srcset="img/temp/tmp4v.webp">
                  <source type="image/jpeg" media="(orientation: portrait)" srcset="img/temp/tmp4v.jpg">
                  <source type="image/webp" srcset="img/temp/tmp4.webp">
                  <source type="image/jpeg" srcset="img/temp/tmp4.jpg">
                  <img src="img/temp/tmp4.jpg" alt="">
                </picture>
                <div class="xslider__content">
                  <div class="xslider__data">
                    <div class="xslider__title">Lorem ipsum dolor sit amet.</div>
                    <div class="xslider__summary text">
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus rem dicta reiciendis.
                      </p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="xslider__item">
                <picture class="xslider__image">
                  <source type="image/webp" media="(orientation: portrait)" srcset="img/temp/tmp5v.webp">
                  <source type="image/jpeg" media="(orientation: portrait)" srcset="img/temp/tmp5v.jpg">
                  <source type="image/webp" srcset="img/temp/tmp5.webp">
                  <source type="image/jpeg" srcset="img/temp/tmp5.jpg">
                  <img src="img/temp/tmp5.jpg" alt="">
                </picture>
                <div class="xslider__content">
                  <div class="xslider__data">
                    <div class="xslider__title">Lorem ipsum dolor sit amet.</div>
                    <div class="xslider__summary text">
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus rem dicta reiciendis.
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="xslider__arrows">
            <button class="xslider__arrow" type="button" data-prev>
              {{ 'prev' | icon }}
            </button>
            <button class="xslider__arrow" type="button" data-next>
              {{ 'next' | icon }}
            </button>
          </div>
        </div>
        <span class="xslider__progress" data-progress></span>
      </div>
    </div>
  </div>
</section>
<!-- /dark -->

<header class="section section--page-header">
  <div class="section__inner">
    <div class="block block--page-header">
      <h1 class="block__title">Заголовок страницы</h1>
    </div>
    <div class="block block--breadcrumbs">
      {% include 'parts/breadcrumbs.html.twig' %}
    </div>
  </div>
</header>
<!-- /page-header -->

<section class="section section--basic">
  <div class="section__inner">
    <div class="block">
      <h2 class="block__title">Grid system (12 columns)</h2>
      <div class="grid-demo row js-animator" data-animation="flip scale fade-in" data-children="true">
        <div class="grid-demo__item col col--p-6 col--t-4 col--l-3">
          col--p-6 col--t-4 col--l-3
        </div>
        <div class="grid-demo__item col col--p-6 col--t-4 col--l-3">
          col--p-6 col--t-4 col--l-3
        </div>
        <div class="grid-demo__item col col--p-6 col--t-4 col--l-3">
          col--p-6 col--t-4 col--l-3
        </div>
        <div class="grid-demo__item col col--p-6 col--t-4 col--l-3">
          col--p-6 col--t-4 col--l-3
        </div>
        <div class="grid-demo__item col col--p-6 col--t-4 col--l-3">
          col--p-6 col--t-4 col--l-3
        </div>
        <div class="grid-demo__item col col--p-6 col--t-4 col--l-3">
          col--p-6 col--t-4 col--l-3
        </div>
        <div class="grid-demo__item col col--p-6 col--t-4 col--l-3">
          col--p-6 col--t-4 col--l-3
        </div>
        <div class="grid-demo__item col col--p-6 col--t-4 col--l-3">
          col--p-6 col--t-4 col--l-3
        </div>
        <div class="grid-demo__item col col--p-6 col--t-4 col--l-3">
          col--p-6 col--t-4 col--l-3
        </div>
        <div class="grid-demo__item col col--p-6 col--t-4 col--l-3">
          col--p-6 col--t-4 col--l-3
        </div>
        <div class="grid-demo__item col col--p-6 col--t-4 col--l-3">
          col--p-6 col--t-4 col--l-3
        </div>
        <div class="grid-demo__item col col--p-6 col--t-4 col--l-3">
          col--p-6 col--t-4 col--l-3
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /basic -->

<section class="section section--basic">
  <div class="section__inner">
    <div class="block">
      <h2 class="block__title">Icons</h2>
      <div class="icons-demo js-animator" data-animation="flip fade-in" data-children="true">
        {{ 'close' | icon('icons-demo__item') }}
        {{ 'download' | icon('icons-demo__item') }}
        {{ 'menu' | icon('icons-demo__item') }}
        {{ 'next' | icon('icons-demo__item') }}
        {{ 'play' | icon('icons-demo__item') }}
        {{ 'prev' | icon('icons-demo__item') }}
        {{ 'search' | icon('icons-demo__item') }}
      </div>
    </div>
    <div class="block">
      <h2 class="block__title">Social</h2>
      <ul class="social js-animator" data-animation="tilt fade-in" data-children="true">
        <li class="social__item">
          <a class="social__link" rel="nofollow" href="" target="_blank" title="Facebook">
            {{ 'facebook' | icon('social__icon') }}
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" rel="nofollow" href="" target="_blank" title="Instagram">
            {{ 'instagram' | icon('social__icon') }}
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" rel="nofollow" href="" target="_blank" title="Odnoklassniki">
            {{ 'odnoklassniki' | icon('social__icon') }}
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" rel="nofollow" href="" target="_blank" title="Telegram">
            {{ 'telegram' | icon('social__icon') }}
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" rel="nofollow" href="" target="_blank" title="TikTok">
            {{ 'tiktok' | icon('social__icon') }}
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" rel="nofollow" href="" target="_blank" title="Twitter">
            {{ 'twitter' | icon('social__icon') }}
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" rel="nofollow" href="" target="_blank" title="Vimeo">
            {{ 'vimeo' | icon('social__icon') }}
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" rel="nofollow" href="" target="_blank" title="Vk">
            {{ 'vk' | icon('social__icon') }}
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" rel="nofollow" href="" target="_blank" title="WhatsApp">
            {{ 'whatsapp' | icon('social__icon') }}
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" rel="nofollow" href="" target="_blank" title="YouTube">
            {{ 'youtube' | icon('social__icon') }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- /basic -->

<section class="section section--dark">
  <div class="section__inner">
    <div class="block">
      <h2 class="block__title">xSlider: basic</h2>
      <div class="xslider js-xslider" data-autoplay="3000" data-pause-on-hover="true">
        <div class="xslider__inner">
          <div class="xslider__viewport" data-viewport>
            <ul class="xslider__track" data-track>
              <li class="xslider__item" style="height: 300px;">
                <video src="video.mp4"></video>
              </li>
              <li class="xslider__item" style="height: 300px;">
                <img src="img/temp/tmp2s.jpg" alt="">
              </li>
              <li class="xslider__item" style="height: 300px;">
                <video src="video.mp4"></video>
              </li>
              <li class="xslider__item" style="height: 300px;">
                <img src="img/temp/tmp4s.jpg" alt="">
              </li>
              <li class="xslider__item" style="height: 300px;">
                <img src="img/temp/tmp5s.jpg" alt="">
              </li>
            </ul>
          </div>
          {% include 'parts/xslider-arrows.html.twig' %}
        </div>
        <ul class="xslider__thumbs" data-thumbs>

          {% for i in 1..5 %}

            <li class="xslider__thumbs-item">
              <button class="xslider__thumbs-link" type="button" aria-label="slide {{ i }}">
                <img src="img/temp/tmp{{ i }}s.jpg" alt="">
                <span class="xslider__progress" data-progress></span>
              </button>
            </li>

          {% endfor %}

        </ul>
        <ul class="xslider__bullets" data-bullets></ul>
      </div>
    </div>
    <div class="block">
      <h2 class="block__title">xSlider: sync</h2>
      <div class="xslider xslider--sync js-xslider" data-loop="false" data-sync=".xslider--thumbs">
        <div class="xslider__inner">
          <div class="xslider__viewport" data-viewport>
            <ul class="xslider__track" data-track>
              <li class="xslider__item" style="height: 300px;">
                <video src="video.mp4"></video>
              </li>
              <li class="xslider__item" style="height: 300px;">
                <img src="img/temp/tmp2s.jpg" alt="">
              </li>
              <li class="xslider__item" style="height: 300px;">
                <video src="video.mp4"></video>
              </li>
              <li class="xslider__item" style="height: 300px;">
                <img src="img/temp/tmp4s.jpg" alt="">
              </li>
              <li class="xslider__item" style="height: 300px;">
                <img src="img/temp/tmp5s.jpg" alt="">
              </li>
            </ul>
          </div>
          {% include 'parts/xslider-arrows.html.twig' %}
        </div>
      </div>
      <div class="xslider xslider--carousel-3 xslider--thumbs js-xslider" data-loop="false" data-sync=".xslider--sync">
        <div class="xslider__inner">
          <div class="xslider__viewport" data-viewport>
            <ul class="xslider__track" data-track>

              {% for i in 1..5 %}

                <li class="xslider__item" style="height: 100px;">
                  <button class="xslider__thumb" type="button" aria-label="slide {{ i }}" data-goto="{{ i - 1 }}">
                    <img src="img/temp/tmp{{ i }}s.jpg" alt="">
                  </button>
                </li>

              {% endfor %}

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="block">
      <h2 class="block__title">xSlider: carousel with lazy load</h2>
      <div class="xslider xslider--carousel-3 js-xslider">
        <div class="xslider__inner">
          <div class="xslider__viewport" data-viewport>
            <ul class="xslider__track" data-track>

              {% for i in 1..3 %}

                {% for j in 1..5 %}

                  <li class="xslider__item" style="height: 300px;">
                    <img alt="" data-src="img/temp/tmp{{ j }}s.jpg?v={{ i * j }}">
                  </li>

                {% endfor %}

              {% endfor %}

            </ul>
          </div>
          {% include 'parts/xslider-arrows.html.twig' %}
        </div>
        <ul class="xslider__bullets" data-bullets></ul>
      </div>
    </div>
    <div class="block">
      <h2 class="block__title">xSlider: vertical carousel</h2>
      <div class="xslider xslider--carousel-3 xslider--vertical js-xslider">
        <div class="xslider__viewport" data-viewport>
          <ul class="xslider__track" data-track>

            {% for i in 1..5 %}

              <li class="xslider__item">
                <img src="img/temp/tmp{{ i }}s.jpg" alt="">
              </li>

            {% endfor %}

          </ul>
        </div>
        {% include 'parts/xslider-arrows.html.twig' %}
      </div>
    </div>
    <div class="block">
      <h2 class="block__title">xMap</h2>
      <div class="xmap js-xmap" data-icon="img/geotag.svg" data-icon-offset="[-12,-33]" data-icon-size="[25,33]" data-language="ru_RU"
        data-lat="55.805818" data-lng="37.593372" data-zoom="16">
        <div class="xmap__item" data-lat="55.805818" data-lng="37.593372" data-title="Заголовок маркера">
          <div class="text">
            <p>Стратегический маркетинг отражает рейтинг. План размещения, пренебрегая деталями, повсеместно определяет
              целевой сегмент рынка.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /dark -->

<section class="section section--basic">
  <div class="section__inner">
    <div class="block">
      <h2 class="block__title">Content</h2>
      <div class="text">
        <p>Стратегический маркетинг отражает рейтинг. План размещения, пренебрегая деталями, повсеместно определяет
          целевой сегмент рынка. Имидж, в рамках сегодняшних воззрений, исключительно определяет бюджет на размещение,
          расширяя долю рынка. Стратегическое планирование, анализируя результаты рекламной кампании, сознательно
          притягивает медийный канал.</p>
        <blockquote>
          <p>Согласно ставшей уже классической работе Филипа Котлера, потребление развивает презентационный материал, не
            считаясь с затратами. Управление брендом сознательно экономит типичный пресс-клиппинг, повышая конкуренцию.
          </p>
          <p style="text-align: right;">&copy; Питер Пен</p>
        </blockquote>
        <h2>Креативный инструмент маркетинга: методология и особенности (h2)</h2>
        <p>Как отмечает Майкл Мескон, комплексный анализ ситуации раскручивает бюджет на размещение, используя опыт
          предыдущих кампаний. К тому же баинг и селлинг однообразно <a href="img/temp/tmp1.jpg"
            target="_blank">тормозит эмпирический медиамикс</a>, не считаясь с затратами. Спонсорство достижимо в
          разумные сроки. Позиционирование на рынке настроено позитивно. Еще Траут показал, что российская специфика
          тормозит <span class="marker">коллективный стиль</span> менеджмента, расширяя долю рынка.
        </p>
        <p>
          Согласно ставшей уже классической работе <em>Филипа Котлера</em>, потребление развивает презентационный
          материал, не считаясь с затратами. Управление брендом сознательно экономит типичный пресс-клиппинг, повышая
          конкуренцию. Продвижение <a href="img/temp/tmp2.jpg" target="_blank">проекта реально переворачивает</a>
          эмпирический отраслевой стандарт, работая над проектом. Формирование имиджа ригиден как никогда. Общество
          потребления восстанавливает креативный бюджет на размещение, осознав маркетинг как часть производства.</p>
        <p>
          Ассортиментная политика предприятия без оглядки на авторитеты все еще интересна для многих. Представляется <a
            href="video.mp4">логичным</a>, что традиционный канал традиционно тормозит продуктовый ассортимент,
          осознавая социальную <strong>ответственность бизнеса</strong>. Ретроконверсия национального наследия
          решительно индуцирует типичный рекламный клаттер, учитывая современные тенденции. Взаимодействие корпорации и
          клиента порождает побочный PR-эффект, работая над проектом. Российская специфика, как следует из <a
            href="http://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">вышесказанного</a>, директивно изменяет
          эксклюзивный инвестиционный продукт, осознавая социальную ответственность бизнеса. Стратегический рыночный
          план, на первый взгляд, индуцирует системный анализ, не считаясь с затратами.</p>
        <h3>Маркированный список (h3)</h3>
        <ul>
          <li>Как найти новый источник клиентов не затратив при этом ни копейки;</li>
          <li>Основные принципы переговоров с клиентами и партнерами;</li>
          <li>Взаимодействие корпорации и клиента порождает побочный PR-эффект, работая над проектом. Российская
            специфика, как следует из вышесказанного, директивно изменяет эксклюзивный инвестиционный продукт, осознавая
            социальную ответственность бизнеса. Стратегический рыночный план, на первый взгляд, индуцирует системный
            анализ, не считаясь с затратами;</li>
          <li>Основные принципы мотивации...</li>
        </ul>
        <h4>Нумерованный список (h4)</h4>
        <ol>
          <li>Как найти новый источник клиентов не затратив при этом ни копейки;</li>
          <li>Основные принципы переговоров с клиентами и партнерами;</li>
          <li>Как уничтожить взглядом конкурентов и вывести свой бизнес на новый уровень;</li>
          <li>Основные принципы мотивации...</li>
          <li>Как найти новый источник клиентов не затратив при этом ни копейки;</li>
          <li>Основные принципы переговоров с клиентами и партнерами;</li>
          <li>Как уничтожить взглядом конкурентов и вывести свой бизнес на новый уровень;</li>
          <li>Основные принципы мотивации...</li>
          <li>Как найти новый источник клиентов не затратив при этом ни копейки;</li>
          <li>Основные принципы переговоров с клиентами и партнерами;</li>
          <li>Как уничтожить взглядом конкурентов и вывести свой бизнес на новый уровень;</li>
          <li>Основные принципы мотивации...</li>
        </ol>
        <h5>Таблица (h5)</h5>
        <table>
          <thead>
            <tr>
              <th scope="col">Креативный инструмент</th>
              <th scope="col">Майкл Мескон</th>
              <th scope="col">Принципы переговоров</th>
              <th scope="col">Стратегический</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Как найти новый источник клиентов</td>
              <td>Основные принципы мотивации</td>
              <td>3</td>
              <td>5</td>
            </tr>
            <tr>
              <td>Источник клиентов</td>
              <td>Принципы мотивации</td>
              <td>105</td>
              <td>5</td>
            </tr>
            <tr>
              <td>Как найти</td>
              <td>Основные принципы</td>
              <td>3</td>
              <td>80</td>
            </tr>
            <tr>
              <td>Как найти клиентов</td>
              <td>Основные мотивации</td>
              <td>3</td>
              <td>5</td>
            </tr>
          </tbody>
        </table>
        <h6>Код (h6)</h6>
        <code>
          &lt;a class="file__download" href="#" target="_blank"&gt;
          <br>&nbsp; &nbsp; &lt;span class="i-download"&gt;&lt;/span&gt;
          <br>&lt;/a&gt;
        </code>
        <h2>Встроенное адаптивное видео 16:9</h2>
        <div class="iframe-video" data-iframe tabindex="0">
          <img src="img/temp/tmp1.jpg" alt="">
          <iframe allow="autoplay; encrypted-media"
            allowfullscreen data-src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&amp;rel=0&amp;showinfo=0" title="video"></iframe>
          <div class="iframe-video__title">Iframe video</div>
          {{ 'play' | icon('iframe-video__play') }}
        </div>
      </div>
    </div>
    <div class="block">
      {% include 'parts/files.html.twig' %}
    </div>
    <div class="block">
      {% include 'parts/pagination.html.twig' %}
    </div>
  </div>
</section>
<!-- /basic -->

<section class="section section--dark">
  <div class="section__inner">
    <div class="block">
      <h2 class="block__title">Content</h2>
      <div class="text">
        <p>Стратегический маркетинг отражает рейтинг. План размещения, пренебрегая деталями, повсеместно определяет
          целевой сегмент рынка. Имидж, в рамках сегодняшних воззрений, исключительно определяет бюджет на размещение,
          расширяя долю рынка. Стратегическое планирование, анализируя результаты рекламной кампании, сознательно
          притягивает медийный канал.</p>
        <blockquote>
          <p>Согласно ставшей уже классической работе Филипа Котлера, потребление развивает презентационный материал, не
            считаясь с затратами. Управление брендом сознательно экономит типичный пресс-клиппинг, повышая конкуренцию.
          </p>
          <p style="text-align: right;">&copy; Питер Пен</p>
        </blockquote>
        <h2>Креативный инструмент маркетинга: методология и особенности (h2)</h2>
        <p>Как отмечает Майкл Мескон, комплексный анализ ситуации раскручивает бюджет на размещение, используя опыт
          предыдущих кампаний. К тому же баинг и селлинг однообразно <a href="img/temp/tmp1.jpg"
            target="_blank">тормозит эмпирический медиамикс</a>, не считаясь с затратами. Спонсорство достижимо в
          разумные сроки. Позиционирование на рынке настроено позитивно. Еще Траут показал, что российская специфика
          тормозит <span class="marker">коллективный стиль</span> менеджмента, расширяя долю рынка.
        </p>
        <p>
          Согласно ставшей уже классической работе <em>Филипа Котлера</em>, потребление развивает презентационный
          материал, не считаясь с затратами. Управление брендом сознательно экономит типичный пресс-клиппинг, повышая
          конкуренцию. Продвижение <a href="img/temp/tmp2.jpg" target="_blank">проекта реально переворачивает</a>
          эмпирический отраслевой стандарт, работая над проектом. Формирование имиджа ригиден как никогда. Общество
          потребления восстанавливает креативный бюджет на размещение, осознав маркетинг как часть производства.</p>
        <p>
          Ассортиментная политика предприятия без оглядки на авторитеты все еще интересна для многих. Представляется <a
            href="video.mp4">логичным</a>, что традиционный канал традиционно тормозит продуктовый ассортимент,
          осознавая социальную <strong>ответственность бизнеса</strong>. Ретроконверсия национального наследия
          решительно индуцирует типичный рекламный клаттер, учитывая современные тенденции. Взаимодействие корпорации и
          клиента порождает побочный PR-эффект, работая над проектом. Российская специфика, как следует из <a
            href="http://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">вышесказанного</a>, директивно изменяет
          эксклюзивный инвестиционный продукт, осознавая социальную ответственность бизнеса. Стратегический рыночный
          план, на первый взгляд, индуцирует системный анализ, не считаясь с затратами.</p>
        <h3>Маркированный список (h3)</h3>
        <ul>
          <li>Как найти новый источник клиентов не затратив при этом ни копейки;</li>
          <li>Основные принципы переговоров с клиентами и партнерами;</li>
          <li>Взаимодействие корпорации и клиента порождает побочный PR-эффект, работая над проектом. Российская
            специфика, как следует из вышесказанного, директивно изменяет эксклюзивный инвестиционный продукт, осознавая
            социальную ответственность бизнеса. Стратегический рыночный план, на первый взгляд, индуцирует системный
            анализ, не считаясь с затратами;</li>
          <li>Основные принципы мотивации...</li>
        </ul>
        <h4>Нумерованный список (h4)</h4>
        <ol>
          <li>Как найти новый источник клиентов не затратив при этом ни копейки;</li>
          <li>Основные принципы переговоров с клиентами и партнерами;</li>
          <li>Как уничтожить взглядом конкурентов и вывести свой бизнес на новый уровень;</li>
          <li>Основные принципы мотивации...</li>
          <li>Как найти новый источник клиентов не затратив при этом ни копейки;</li>
          <li>Основные принципы переговоров с клиентами и партнерами;</li>
          <li>Как уничтожить взглядом конкурентов и вывести свой бизнес на новый уровень;</li>
          <li>Основные принципы мотивации...</li>
          <li>Как найти новый источник клиентов не затратив при этом ни копейки;</li>
          <li>Основные принципы переговоров с клиентами и партнерами;</li>
          <li>Как уничтожить взглядом конкурентов и вывести свой бизнес на новый уровень;</li>
          <li>Основные принципы мотивации...</li>
        </ol>
        <h5>Таблица (h5)</h5>
        <table>
          <thead>
            <tr>
              <th scope="col">Креативный инструмент</th>
              <th scope="col">Майкл Мескон</th>
              <th scope="col">Принципы переговоров</th>
              <th scope="col">Стратегический</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Как найти новый источник клиентов</td>
              <td>Основные принципы мотивации</td>
              <td>3</td>
              <td>5</td>
            </tr>
            <tr>
              <td>Источник клиентов</td>
              <td>Принципы мотивации</td>
              <td>105</td>
              <td>5</td>
            </tr>
            <tr>
              <td>Как найти</td>
              <td>Основные принципы</td>
              <td>3</td>
              <td>80</td>
            </tr>
            <tr>
              <td>Как найти клиентов</td>
              <td>Основные мотивации</td>
              <td>3</td>
              <td>5</td>
            </tr>
          </tbody>
        </table>
        <h6>Код (h6)</h6>
        <code>
          &lt;a class="file__download" href="#" target="_blank"&gt;
          <br>&nbsp; &nbsp; &lt;span class="i-download"&gt;&lt;/span&gt;
          <br>&lt;/a&gt;
        </code>
        <h2>Встроенное адаптивное видео 16:9</h2>
        <div class="iframe-video" data-iframe tabindex="0">
          <img src="img/temp/tmp1.jpg" alt="">
          <iframe allow="autoplay; encrypted-media"
            allowfullscreen data-src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&amp;rel=0&amp;showinfo=0" title="video"></iframe>
          <div class="iframe-video__title">Iframe video</div>
          {{ 'play' | icon('iframe-video__play') }}
        </div>
      </div>
    </div>
    <div class="block">
      {% include 'parts/files.html.twig' %}
    </div>
    <div class="block">
      {% include 'parts/pagination.html.twig' %}
    </div>
    <div class="block">

      <form class="xform xform--placeholders js-xform" action="xform.json">
        <input id="hidden-5fc20c76b9d7c" type="hidden" name="xform" value="feedback">
        <div class="xform__section">
          <div class="xform__section-header">
            <h3 class="xform__section-title">Общие сведения</h3>
          </div>
          <div class="xform__field xform__field--required xform__field--activated">
            <label class="xform__label" for="input-5fc20c76b9d81">Ваше имя</label>
            <input class="xform__input" id="input-5fc20c76b9d81" type="text" name="name" required
              title="Ваше имя" value="robert paulson">
            <div class="xform__hint">Пояснение к полю</div>
          </div>
          <div class="xform__row row">
            <div class="xform__col col col--t-6">
              <div class="xform__field xform__field--required xform__field--activated">
                <label class="xform__label" for="input-5fc20c76b9d88">E-mail</label>
                <input class="xform__input" id="input-5fc20c76b9d88" type="email" name="email" required
                  title="E-mail" value="r.paulson@example.com">
              </div>
            </div>
            <div class="xform__col col col--t-6">
              <div class="xform__field">
                <label class="xform__label" for="input-5fc20c76b9d8b">Номер телефона</label>
                <input class="xform__input" id="input-5fc20c76b9d8b" type="tel" name="phone" title="Номер телефона"
                  value>
              </div>
            </div>
          </div>
          <div class="xform__field">
            <label class="xform__label" for="textarea-5fc20c76b9d8e">Сообщение</label>
            <textarea class="xform__input xform__input--text" id="textarea-5fc20c76b9d8e" name="message"
              title="Сообщение"></textarea>
            <div class="xform__error">Кажется, тут какая-то ошибка</div>
          </div>
          <div class="xform__field">
            <label class="xform__label" for="select-5fc20c76b9d91">Тема</label>
            <select class="xform__input xform__input--select" id="select-5fc20c76b9d91" name="theme" title="Тема">
              <option selected value>&nbsp;</option>
              <option value="1">Взаимодействие корпорации и клиента</option>
              <option value="2">Стратегический рыночный план, на первый взгляд, индуцирует системный анализ, не считаясь
                с затратами</option>
            </select>
          </div>
        </div>
        <div class="xform__section">
          <div class="xform__section-header">
            <h3 class="xform__section-title">Дополнительно</h3>
          </div>
          <div class="xform__row row">
            <div class="xform__col col col--t-6">
              <div class="xform__field">
                <fieldset class="xform__fieldset">
                  <legend class="xform__legend">Радио-кнопки</legend>
                  <div class="xform__radio">
                    <input id="radio-5fc20c76b9d9a" type="radio" name="radio" checked value="1">
                    <label for="radio-5fc20c76b9d9a">Взаимодействие</label>
                  </div>
                  <div class="xform__radio">
                    <input id="radio-5fc20c76b9d9d" type="radio" name="radio" value="2">
                    <label for="radio-5fc20c76b9d9d">Системный анализ</label>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="xform__col col col--t-6">
              <div class="xform__field">
                <fieldset class="xform__fieldset">
                  <legend class="xform__legend">Флаги</legend>
                  <div class="xform__checkbox">
                    <input id="checkbox-5fc20c76b9da3" type="checkbox" name="checkbox[]" value="1">
                    <label for="checkbox-5fc20c76b9da3">Корпорации</label>
                  </div>
                  <div class="xform__checkbox">
                    <input id="checkbox-5fc20c76b9da5" type="checkbox" name="checkbox[]" checked value="2">
                    <label for="checkbox-5fc20c76b9da5">Клиента</label>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="xform__section">
          <div class="xform__section-header">
            <h3 class="xform__section-title">Файлы</h3>
          </div>
          <div class="xform__field xform__field--required">
            <label class="xform__label" for="file-5fc20c76b9db6">Файл</label>
            <input id="file-5fc20c76b9db6" type="file" name="file1" required>
          </div>
          <div class="xform__field">
            <label class="xform__label" for="file-5fc20c76b9dbb">Файлы</label>
            <input id="file-5fc20c76b9dbb" type="file" name="file2" multiple>
          </div>
        </div>
        <div class="xform__footer">
          <button class="xform__button xform__button--submit button" type="submit">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- /dark -->

<section class="section section--basic">
  <div class="section__inner">
    <h2 class="section__title">xPopups</h2>
    <div class="buttons">
      <button class="button js-feedback" type="button">form</button>
      <button class="button js-iframe" type="button">iframe</button>
      <button class="button js-ajax" type="button">ajax</button>
    </div>
  </div>
</section>
<!-- /basic -->

<div class="xpopup xpopup--form js-xpopup-form js-xform-scroll" data-toggle=".js-feedback">
  <div class="xpopup__dialog">
    <div class="xpopup__header">
      <div class="xpopup__title">xPopup xForm</div>
      <button class="xpopup__close" type="button" aria-label="Закрыть" data-close>
        {{ 'close' | icon('xpopup__close-icon') }}
      </button>
    </div>
    <div class="text">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore laborum fugiat totam ipsum minima accusantium
        unde ratione perspiciatis, aspernatur, quasi cum. Aperiam esse atque dolorem architecto sit voluptates
        cupiditate enim?</p>
    </div>
    <form class="xform xform--placeholders js-xform" action="xform.json">
      <input id="feedback-xform" type="hidden" name="xform" value="feedback">
      <div class="xform__section">
        <div class="xform__section-header">
          <h3 class="xform__section-title">Общие сведения</h3>
        </div>
        <div class="xform__field xform__field--required xform__field--activated">
          <label class="xform__label" for="feedback-name">Ваше имя</label>
          <input class="xform__input" id="feedback-name" type="text" name="name" required title="Ваше имя"
            value="robert paulson">
          <div class="xform__hint">Пояснение к полю</div>
        </div>
        <div class="xform__row row">
          <div class="xform__col col col--t-6">
            <div class="xform__field xform__field--required xform__field--activated">
              <label class="xform__label" for="feedback-email">E-mail</label>
              <input class="xform__input" id="feedback-email" type="email" name="email" required
                title="E-mail" value="r.paulson@example.com">
            </div>
          </div>
          <div class="xform__col col col--t-6">
            <div class="xform__field">
              <label class="xform__label" for="feedback-phone">Номер телефона</label>
              <input class="xform__input" id="feedback-phone" type="tel" name="phone" title="Номер телефона" value>
            </div>
          </div>
        </div>
        <div class="xform__field">
          <label class="xform__label" for="feedback-message">Сообщение</label>
          <textarea class="xform__input xform__input--text" id="feedback-message" name="message"
            title="Сообщение"></textarea>
          <div class="xform__error">Кажется, тут какая-то ошибка</div>
        </div>
        <div class="xform__field">
          <label class="xform__label" for="feedback-subject">Тема</label>
          <select class="xform__input xform__input--select" id="feedback-subject" name="subject" title="Тема">
            <option selected value>&nbsp;</option>
            <option value="1">Взаимодействие корпорации и клиента</option>
            <option value="2">Стратегический рыночный план, на первый взгляд, индуцирует системный анализ, не считаясь с
              затратами</option>
          </select>
        </div>
      </div>
      <div class="xform__section">
        <div class="xform__section-header">
          <h3 class="xform__section-title">Дополнительно</h3>
        </div>
        <div class="xform__row row">
          <div class="xform__col col col--t-6">
            <div class="xform__field">
              <fieldset class="xform__fieldset">
                <legend class="xform__legend">Радио-кнопки</legend>
                <div class="xform__radio">
                  <input id="feedback-radio-1" type="radio" name="radio" checked value="1">
                  <label for="feedback-radio-1">Взаимодействие</label>
                </div>
                <div class="xform__radio">
                  <input id="feedback-radio-2" type="radio" name="radio" value="2">
                  <label for="feedback-radio-2">Системный анализ</label>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="xform__col col col--t-6">
            <div class="xform__field">
              <fieldset class="xform__fieldset">
                <legend class="xform__legend">Флаги</legend>
                <div class="xform__checkbox">
                  <input id="feedback-checkbox-1" type="checkbox" name="checkbox[]" value="1">
                  <label for="feedback-checkbox-1">Корпорации</label>
                </div>
                <div class="xform__checkbox">
                  <input id="feedback-checkbox-2" type="checkbox" name="checkbox[]" checked value="2">
                  <label for="feedback-checkbox-2">Клиента</label>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
      <div class="xform__section">
        <div class="xform__section-header">
          <h3 class="xform__section-title">Файлы</h3>
        </div>
        <div class="xform__field xform__field--required">
          <label class="xform__label" for="feedback-file">Файл</label>
          <input id="feedback-file" type="file" name="file1" required>
        </div>
        <div class="xform__field">
          <label class="xform__label" for="feedback-files">Файлы</label>
          <input id="feedback-files" type="file" name="file2" multiple>
        </div>
      </div>
      <div class="xform__footer">
        <button class="xform__button xform__button--submit button" type="submit">Отправить</button>
      </div>
    </form>
  </div>
</div>

<div class="xpopup xpopup--transparent js-xpopup-iframe" data-toggle=".js-iframe">
  <div class="xpopup__dialog">
    <div class="xpopup__header">
      <div class="xpopup__title">xPopup Iframe</div>
      <button class="xpopup__close" type="button" aria-label="Закрыть" data-close>
        {{ 'close' | icon('xpopup__close-icon') }}
      </button>
    </div>
    <div class="iframe-video" data-iframe tabindex="0">
      <iframe allow="autoplay; encrypted-media"
        allowfullscreen data-src="http://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&amp;rel=0&amp;showinfo=0" title="video"></iframe>
    </div>
  </div>
</div>

<div class="xpopup js-xpopup-ajax" data-toggle=".js-ajax">
  <div class="xpopup__dialog">
    <div class="xpopup__header">
      <div class="xpopup__title">xPopup Ajax</div>
      <button class="xpopup__close" type="button" aria-label="Закрыть" data-close>
        {{ 'close' | icon('xpopup__close-icon') }}
      </button>
    </div>
    <div class="js-xloader" data-ajax data-append="false" data-load-on-mount="false"
      data-params="{ &quot;data&quot;: &quot;test&quot; }" data-url="xloader.json"></div>
  </div>
</div>
{% endblock %}
