<div class="files files--columns-2">
  <ul class="files__list">
    <li class="files__item">
      <a class="files__link" href="" target="_blank">
        {{ 'download' | icon('files__download') }}
        <div class="files__title">Чек-лист для путешественников</div>
      </a>
    </li>
    <li class="files__item">
      <a class="files__link" href="" target="_blank">
        {{ 'download' | icon('files__download') }}
        <div class="files__title">Советы по сбору вещей</div>
      </a>
    </li>
    <li class="files__item">
      <a class="files__link" href="" target="_blank">
        {{ 'download' | icon('files__download') }}
        <div class="files__title">Пример маршрута поездки</div>
      </a>
    </li>
    <li class="files__item">
      <a class="files__link" href="" target="_blank">
        {{ 'download' | icon('files__download') }}
        <div class="files__title">Шаблон бюджета для путешествия</div>
      </a>
    </li>
    <li class="files__item">
      <a class="files__link" href="" target="_blank">
        {{ 'download' | icon('files__download') }}
        <div class="files__title">Список экстренных номеров</div>
      </a>
    </li>
    <li class="files__item">
      <a class="files__link" href="" target="_blank">
        {{ 'download' | icon('files__download') }}
        <div class="files__title">Полезные фразы на местном языке</div>
      </a>
    </li>
    <li class="files__item">
      <a class="files__link" href="" target="_blank">
        {{ 'download' | icon('files__download') }}
        <div class="files__title">Руководство по выбору страховки</div>
      </a>
    </li>
    <li class="files__item">
      <a class="files__link" href="files/ultimate-guide-to-european-train-travel.pdf" target="_blank">
        {{ 'download' | icon('files__download') }}
        <div class="files__title">Полное руководство по путешествиям на поездах в Европе: маршруты, советы и билеты</div>
      </a>
    </li>
    <li class="files__item">
      <a class="files__link" href="files/how-to-pack-light-for-a-two-week-trip.docx" target="_blank">
        {{ 'download' | icon('files__download') }}
        <div class="files__title">Как собрать вещи для двухнедельного путешествия с минимальным количеством багажа</div>
      </a>
    </li>
  </ul>
</div>
